@keyframes fadeIn {
    0% {
      opacity: 0
    }
    100% {
      opacity: 1
    }
  }
  body {
    animation-name: fadeIn;
    animation-duration: 0.25s;
    margin: 0;
    font-family: "Lato Regular", sans-serif;
    background-color: whitesmoke;
  }
  @font-face {
    font-family: Lato Regular;
    src: url(media/Lato-Regular.ttf);
  }
  img {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    cursor: grab;
  }
  header {
    height: auto;
    width: 100%;
    background-image: url(media/banner.png);
    background-position: 60% 60%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 10px;
  }
  footer {
    max-height: 35px;
    width: 100%;
    background-image: url(media/banner.png);
    background-position: 50% 95%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 15px;
  }
  ul {
    animation-name: fadeIn;
    animation-duration: 0.8s;
    margin: 0;
  }
  .header-logo {
    height: 90px;
    width: auto;
  }
  .header-left-side {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0) 100%);
    margin-bottom: 10px;
    padding-right: 0px;
  }
  .header-right-side {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .cnt-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 20px);
  }
  .page-title {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    margin: 20px 10px 20px 10px;
  }
  .page-title.footer_text {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    margin: 0;
    max-height: 30px;
  }
  .page-title.project-title {
    margin: 10px;
  }
  .page-title-p {
    animation-name: fadeIn;
    animation-duration: 1s;
    margin: 10px;
    max-width: 100%;
    /*margin-bottom: 10px;*/
  }
  hr {
    animation-name: fadeIn;
    animation-duration: 1s;
    width: calc(100% - 10%);
    height: 2px;
    background-color: #000000;
  }
  hr.short {
    width: calc(100% - 30%);
  }
  hr.medium {
    width: calc(100% - 20%);
  }
  iframe {
    animation-name: fadeIn;
    animation-duration: 1s;
    width: 95%;
    margin: 0;
    margin-bottom: 10px;
  }
  a:link {
    color: #adadad;
    text-decoration: none;
  }
  a:visited {
    color: #8e8e8e;
    text-decoration: none;
  }
  a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  a:active {
    color: #9a9a9a;
    text-decoration: none;
  }
  h6 {
    margin: 5px;
    margin-bottom: 20px;
  }
  .center-text-mobile {
      text-align: center;
  }
  @media (min-width: 800px) {
    header, footer {
      height: 100px;
      flex-direction: row;
      padding-bottom: 0px;
    }
    .header-right-side {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
    }
    .header-left-side {
      padding-right: 5px;
      margin-bottom: 0px;
    }
    .cnt-container {
      max-width: 800px;
    }
    hr {
      width: 800px;
    }
    hr.short {
      width: 350px;
    }
    hr.medium {
      width: 500px;
    }
  }
  /* BUTTON START */
  .button-links {
    font-family: "Lato Regular", sans-serif;
    background-color: rgba(51, 51, 51, 0);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding: 15px 17px;
    text-align: center;
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-links:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  }
  /* BUTTON END */
  /* SCROLLBAR START */
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  /* SCROLLBAR END */
  @media (prefers-color-scheme: light) {
    html {
      background-color: white;
    }
    .button-links {
        color: #333333;
    }
  }
  @media (prefers-color-scheme: dark) {
    html {
      background-color: #181c20;
    }
    body {
        background-color: #23272e;
        color: #d4d7dd;
    }
    header, footer {
        background-color: #181c20;
        color: #d4d7dd;
    }
    hr {
        background-color: #d4d7dd;
    }
    .button-links {
        background-color: #23272e80;
        color: #ffffff;
    }
    .button-links:hover {
      background-color: #23272ec5;
      box-shadow: rgba(255, 255, 255, 0.3) 0px 15px 25px, rgba(255, 255, 255, 0.3) 0px 5px 10px;
    }
  }
  